<h2>Shopping Cart</h2>

<h3>Order <%= @current_order.id %></h3>


<table class="table">
    <thead>
        <tr>
            <th>Product Name</th>
            <th>Quantity</th>
            <th> </th>
        </tr>
        </thead>
        <tbody>
        <% @current_order.order_products.each do |op| %>
        <%@order_product = op%>
            <tr>
                <td><%= Product.find_by(id: op.product_id).name %></td>
                <td><%= op.quantity %></td>
                <td> 
                    <%= render 'update-quantity' %>
                </td>
            </tr>
        <% end %>
    </tbody>
</table>
