<h2> Order <%= @order.id %> </h2>

<table class="table">
  <thead>
    <tr>
    <th>
    Merchant
    </th>
      <th>
        Item
      </th>
      <th>
      Quantity
      </th>
      
    </tr>
  </thead>
</table>
