<h2> Order <%= @order.id %> </h2>

<table class="table">
  <thead>
    <tr>
    <th>
    Merchant
    </th>
      <th>
        Item
      </th>
      <th>
      Quantity
      </th>
      
    </tr>
  </thead>
  <tbody>
    <% @order.products.each do |product| %>
        <tr>
            <td><%= product.merchant %></td>
            <td><%= product.name %></td>
            <td><%= OrderProduct.find_by(order_id: @order.id).quantity %> </td>
        </tr>
    <% end %>
  </tbody>
</table>
