<h2>All Merchants</h2>
 <body style="background-color:limegreen;">
 </body>
<ul>
<% @merchants.each do |merchant| %>
  <li>
    <%= link_to merchant.username, merchant_products_path(merchant.id) %>
  </li>
<% end %>
</ul>

