// Place all the styles related to the Merchants controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.dashboard-buttons {
    list-style-type: none;
    padding: 0;
    margin:30px 0;
}

.name {
    color:lime;
}

a {
    font-family:"Space Mono", monospace;
    color:black,
}

.table, h2, .btn {
    font-family:"Space Mono", monospace;
}


.btn-success {
    background-color: lime;
    color:black;
    
}