// Place all the styles related to the Merchants controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

a {
    color:green;
}

.nav-tabs a.nav-link {
    background-color:#6C757D; 
}

.nav-tabs a.active.nav-link {
    background-color:#2C3034; 
}
 
.dashboard-buttons {
    list-style-type:none;
    padding: 0;
    margin:30px 0;
    z-index: -1;
    display:flex;
<<<<<<< HEAD
    flex-flow:row wrap;
    justify-content: flex-start;
    align-content: flex-start;
=======
    flex-flow: row nowrap;
    align-content:flex-start;
    justify-content:flex-start;
>>>>>>> bac91b599420dcd4ca6fbc40b6919fb05a2d397b
}

 

.name {
    color:lime;
}

.table, .details, h2, .btn {
    font-family:"Space Mono", monospace;
}


.btn-success {
    background-color: lime;
    color:black;
}

.dashboard-table {
    h2{
        color:white;
        padding: 20px 15px;
    }
   background-color: #2C3034;
}
