
section{
    margin:30px 0;
}
.product-thumbnail {
    display:inline-block;
    margin:20px;
    padding:10px;
    z-index:-1;
    width:220px;
}

.product-name{
    height:2em;
}

.carousel {
    margin:auto;
}
.carousel-item {
    z-index: -1;
    height:80vh;
    
}

.thumbnail-image {
    height:200px;
    width:200px;
    
}

img {
    object-fit:cover;
    object-position: 0 0;
}

.show-image {
    width:200px;
    height:140px;
    object-fit:cover;
    object-position: 0 0;
    vertical-align:top;
    margin: 0 10px;
}

.product-details {
    display:inline-block;
    margin: 0 10px;
}

.featured_image {
    object-fit:cover;
    object-position: 0 0;
}

.products {
    display: flex;
    flex-flow: row nowrap;
    width:80%;
    overflow-x: scroll;
    margin:auto;
}

a {
    font-family:"Space Mono", monospace;
    color:black,
}

.parallax { 
    /* The image used */
    background-image: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5) ), url("https://images.pexels.com/photos/1089438/pexels-photo-1089438.jpeg");
  
    /* Set a specific height */
    height: 70vh; 
    margin-top:-2em;
    padding-top:2em;
    /* Create the parallax scrolling effect */
    
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    h1 {
        color:white;
        font-family: 'Gugi', cursive;
        display:block;
        margin:auto;
        .hacksy {
            font-size: 2em;
        }
    }
    h2{
        
        font-family:"Space Mono", monospace;
        text-align: right; 
    }
    .splash-text {
        width:50%;
    }
    h2{
        color: white;
    }
    a {
        display: block;
        margin:auto;
    }
  }